<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашнее задание №5</title>
</head>
<body>
    <h1>Песни:</h1>
    {% for song in music %}
    <div style="background-color: rgb(180, 223, 224); margin:0.5em; padding: 0.25em; border-radius: 10px;">
        <p><h2>Название: {{ song.name }}</h2></p>
        <p><b>Автор: {{ song.author }}</b></p>
        {% if song.description %}
        <div>
            Описание: {{ song.description }}
        </div>
        {% endif %}
        <p><i>Жанр: {{ song.genre }}</i></p>
        <a href="/music/{{ song.id }}"><h3>Перейти</h3></a>
    </div>
    {% endfor %}
</body>
</html>